.single-movie-details {
  color: white;
  display: flex;
  /* flex-direction: ; */
}

.content {
  width: inherit;
  overflow: hidden;
}

.content > h2 {
  position: relative;
  z-index: 1
}

.content > img {
  height: 100vh;
  top: 100px;
  position: fixed;
  z-index: -1;
}

.content > div {
  background: linear-gradient(0.25turn, #000000, #000000e6, #0000006e);;  box-shadow: 0px 0px 5px black;
  padding-left: 30px;
  width: 40%;
  height: 85vh;
}

.home-button {
  height: 50px;
  width: 100px;
  border-radius: 5px;
  margin: 10px;
  border: none;
  background-color: rgb(130 9 2);
  color: white;
  font-size: large;
}