.single-movie-details {
  color: white;
  display: flex;
  height: 80vh;
}

.content > img {
  background-size: cover;
  width: 100%;
  position: fixed;
  right: 0px;
  z-index: -1;
}

.details {
  background: linear-gradient(0.25turn, #000000, #000000e6, #00000000);
  padding: 10%;
  width: 50vw;
  height: 73vh;
}

.details > h2 {
  font-size: 2em;
}

.rating-container {
  display: flex;
  align-items: center;
}

.rating {
  margin: 0;
}

.movie-rating-img {
  height: 30px;
  width: 30px;
  background-image: url('../../assets/rancid-logo.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.overview {
  max-width: 400px;
}

.home-location {
  position: fixed;
  top: 145px;
  right: 45px;
}

.home-button {
  align-self: center;
  height: 50px;
  width: 100px;
  border-radius: 5px;
  margin: 10px;
  border: none;
  border: 2px solid white;
  background-color: rgb(130 9 2);
  color: white;
  font-size: large;
  cursor: pointer;
}

.home-button:hover {
  background-color: white;
  border: 2px solid rgb(130 9 2);
  color: rgb(130 9 2);
  font-weight: bolder;
}

iframe {
  width: 400px;
  height: 200px;
  border: none;
}

.movie-error-display {
  text-align: center;
  color: white;
  margin-top: 100px
}

.prefix {
  font-weight: 900;
} 